.popup__close-active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow:hidden;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}